---
name: Build and publish image to ghcr.io
on:
  release:
    types:
      - published
  workflow_dispatch:
jobs:
  publish-pagely-deploy-image:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/godaddy-wordpress/pagely-deploy
          flavor: |
            latest=false
          tags: |
            type=semver,pattern={{raw}}
            type=sha
            type=raw,value=latest,enable=${{ !github.event.release.draft && !github.event.release.prerelease }} 

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          context: "{{defaultContext}}:image"
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
